{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Чат
{% endblock %}

{% block content %}
<h2>Чат</h2>
<div class="container">
{% for message in messages %}
  <div class="row justify-content-center">
    {% if user == message.from_user %}
    <div class="col">
<p>{{ message.text }}</p>
    </div>
    <div class="col">
    </div>
    {% else %}
        <div class="col">
    </div>
       <div class="col">
<p>{{ message.text }}</p>
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Отправить сообщение</button>
  </form>
{% endblock %}