{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Чат с пользователем {{ recipient }}
{% endblock %}

{% block content %}
<h2>Чат с пользователем {{ recipient }}</h2>
<div class="row justify-content-center">
<div class="col">
{% for message in messages %}
  <div class="row justify-content-center">
    {% if user != message.from_user %}
    <div class="col">
        {% if message.text %}
<p>{{ message.from_user.username }}: {{ message.text }}</p>
        {% endif %}
        {% if message.image %}
        <img src="{{ message.image.url }}" width="100">
        {% endif %}
    </div>
    <div class="col">
    </div>
    {% else %}
        <div class="col">
    </div>
       <div class="col">
           {% if message.text %}
           {% if message.is_read %}
<p>Вы: {{ message.text }}</p>
           {% else %}
           <div class="alert alert-info" role="alert">
  Вы: {{ message.text }}
</div>
           {% endif %}
           {% endif %}
           {% if message.image %}
           {% if message.is_read %}
        <img src="{{ message.image.url }}" width="100">
           {% else %}
                   <div class="alert alert-info" role="alert">
  <img src="{{ message.image.url }}" width="100">
</div>
           {% endif %}
        {% endif %}
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>
<div class="col">
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Отправить сообщение</button>
  </form>
    </div>
        </div>
{% endblock %}