{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Пост #{{ post.id }}
{% endblock %}

{% block content %}
<img src="{{ post.image.url }}" width="300">
{% if user == post.owner %}
<a href="{% url 'post update' post.id %}" class="btn btn-success">Изменить</a>
<a href="{% url 'post delete' post.id %}" class="btn btn-danger">Удалить</a>
{% endif %}
<p>{{ post.owner.username }}: {{ post.text|safe }}</p>
{% for comment in post.comments.all %}
<p>{{ comment.owner.username }}: {{ comment.text }}</p>
{% endfor %}
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Добавить комментарий</button>
  </form>
{% endblock %}