{% extends "base.html" %}
{% load static %}

{% block title %}
Профиль пользователя {{ profile.user.username }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
<img src="{{ profile.avatar.url }}" width="250" class="float-start img-thumbnail"></div>
<div class="col"><p>username: {{ profile.user.username }}</p>
<p>Город: {{ profile.city }}</p>
<p>День рождения: {{ profile.birthday }}</p>
<p>О себе: {{ profile.bio }}</p>
    <p>Фолловеров: <a href="{% url 'followers' profile.id %}">{{ profile.followers.count }}</a></p>
    <p>Фолловит: <a href="{% url 'following' profile.id %}">{{ profile.following.count }}</a></p>
    {% if profile in user.profile.following.all %}
    <p>Вы подписаны<img src="{% static 'images/check2.svg' %}" width="32" height="32"></p>
    <a href="{% url 'follow' profile.id %}" class="btn btn-primary">Отписаться</a>
    {% else %}
    <a href="{% url 'follow' profile.id %}" class="btn btn-primary">Подписаться</a>
    {% endif %}
    <a href="{% url 'message' profile.user.id %}" class="btn btn-primary">Отправить сообщение</a>
    </div>
        <div class="col"></div><div class="col"></div><div class="col"></div>
        </div>
            </div>
<br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
{% for post in posts %}
         <div class="col">
    {% include "card-post.html" %}
        </div>
    {% endfor %}
     </div>
</div>
{% endblock %}