{% extends "base.html" %}


{% block title %}
Результаты поиска
{% endblock %}

{% block content %}
<h2>Найденные пользователи: {{ users.count }}</h2>
{% if users %}
<table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Количество постов</th>
      </tr>
  </thead>
<tbody>
{% for user in users %}
<tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td><a href="{% url 'profile' user.profile.id %}">{{ user.username }}</a></td>
    <td>{{ user.posts.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
<h2>Найденные посты: {{ posts.count }}</h2>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
{% for post in posts %}
         <div class="col">
    {% include "card-post.html" %}
        </div>
    {% endfor %}
     </div>
</div>
{% endblock %}